*{
    margin: 0;
    padding: 0;
}

header{
    position:static;
    background-color: goldenrod;
    padding: 1.5rem;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 16px; */
    gap: 16px;
    align-items: center;
}

.pesquisa{
    display: flex;
    align-items: center;
    gap: 16px;
}

input{
    width: 20vw;
    height: 21px;
}

button{
    width: 6vw;
    height: 25px;
}

.caixas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 16px; */
    gap: 16px;
}


li{
    list-style: none
}

input{
    position:relative;
}
button{
    position:relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
    background-color: maroon;
    color: beige;
}


section{

    text-align: center;
    border: 2px solid saddlebrown;
    background-color: burlywood;
    width: 40vw;
    height: 60vh;
    /* min-width: ; */
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

footer{
    position:static;
margin-top: 20px;
margin-bottom: 0;
text-align: center;
background-color: goldenrod;
font-size: larger;
padding: 1rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}