*{
    margin: 0;
    padding: 0;
}

header{
    background-color: goldenrod;
    padding: 2rem;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

main{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
    background-color: maroon;
    color: beige;
}


section{
    display: grid;
    grid-template-rows: 1fr,1fr;
    grid-template-columns: 1fr,1fr;
    grid-gap: 2px;
    text-align: center;
    border: 2px solid saddlebrown;
    background-color: burlywood;
    width: 40vw;
    height: 60vh;
    border-radius: 10px;
    
}

footer{
margin-top: 20px;
text-align: center;
background-color: goldenrod;
font-size: larger;
padding: 1rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}